@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap");

// botones sin opciones
.containerBtn {
  @extend .flexColumn;
  font-family: "Shantell Sans", cursive;
  font-size: auto;
  padding: 3vw;
  background: $color-btn-background;
  font-weight: bold;
  height: 4vh;
  width: 8vh;
  border: 0.3vw solid silver;
  border-style: outset;
  border-radius: 20px;
  box-shadow: 0.2vw 0.2vw 0.4vw #000000;
  &:hover {
    background: $color-btn-hover;
  }
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
}

// botones con numeros y opciones
.mainContainerBtn {
  font-family: "Shantell Sans", cursive;
  font-size: auto;
  background: $color-btn-background;
  height: 60px;
  width: 120px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 0.5vw;
  border: 0.3vw solid silver;
  border-style: outset;
  border-radius: 20px;
  box-shadow: 0.2vw 0.2vw 0.4vw #000000;
  .numberContainer {
    background-color: #cccccc;
    font-size: xx-large;
    width: 60%;
    height: 90%;
    justify-content: center;
    align-items: center;
    border: 0.2vw solid silver;
    border-style: outset;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000000;
  }
  .keyboardNumber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    .btnOperator {
      background-color: #cccccc;
      width: 4vw;
      height: 4vw;
      border-radius: 10px;
      border-style: outset;
      border: 3px solid silver;
      box-shadow: 1px 1px 3px #000000;

      &:hover {
        background-color: $color-btn-hover;
      }
      &:active {
        border-style: inset;
        box-shadow: 1px 1px 3px red;
      }
    }
  }
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

@media (max-width: 550px) {
  .containerBtn {
    height: 2vh;
    width: 4vh;
    font-weight: lighter;
    border-radius: 10px;
  }

  .mainContainerBtn {
    border-radius: 10px;
    height: 30px;
    width: 60px;
    .numberContainer {
      font-size: large;
      width: 50%;
      height: 80%;
      margin-left: 0.8vw;
    }
    .keyboardNumber {
      .btnOperator {
        width: 2vw;
        height: 2vw;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1vw;
      }
    }
  }
}
