@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Shantell+Sans:wght@500&display=swap");

/* Css del nombre en la primera pantalla "pokemon" */
.titleMainHeader {
  font-family: "Darumadrop One", cursive;
  font-size: 15vh;
  -webkit-text-stroke: 0.5vh #308208;
  /* para poner borde al texto */
  color: transparent;
  background-image: linear-gradient(
    to left,
    #9df076,
    #43991a,
    #b4b149,
    #f4ed11
  );
  background-clip: text;
  animation: color 3s linear infinite;
  // background-size: 500%;
}

/* Css de los titulos de las dos pantallas de juegos */

.titleContainer {
  @extend .flexColumn;
  box-sizing: content-box;
  height: auto;
  width: 70vw;
  border-radius: 30px;
  border: 1vw solid silver;
  border-style: inset;
  background-color: $color-keyboard;
  margin-bottom: 3vw;
  margin-top: 4vw;
  .titlePokemon {
    font-family: "Shantell Sans", cursive;
    color: #494e08;
    font-size: 10vh;
  }
  .subTitle {
    @extend .titlePokemon;
    font-size: 4vh;
  }
}
