// homepage.js

.main {
  @extend .flexColumn;
  .board {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin-bottom: 3.5vw;
  }
  .pokeapi {
    padding-bottom: 3.5vw;
  }
}

.mainContainer {
  @extend .flexColumn;
}

@media (max-width: 550px) {
  .mainContainer {
    width: 100vw;
  }
}
