$color-background: #abf3b4;
$color-app: #0cdf28;
$color-btn-background: #da16b6;
$color-btn-hover: #f598e4;

@import "./header"; /* la cabecera de cada pantalla */
@import "./pages"; /* layout de cada pantalla */
@import "./keyboards"; /* los diferentes opciones espacio de juego */
@import "./buttons"; /* botones */

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  @extend .flexColumn;
  background: $color-background;
}
.mainContainer {
  background: $color-app;
  width: 80vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 20px;
}
