.containerBtn {
  box-sizing: border-box;
  background-color: var(--bg-pink);
  width: 15vw;
  height: 10vh;
  padding-left: 1vw;
  padding-right: 1vw;
  align-items: center;
  justify-items: center;
  border-radius: 8%;
  border-style: outset;
  border: 3px solid silver;
  box-shadow: 1px 1px 3px #000000;
}
.containerBtn:hover {
  background-color: var(--bg-lightPink);
}
.containerBtn:active {
  border-style: inset;
  box-shadow: 1px 1px 3px red;
}

.nameBtn {
  color: var(--color-font);
  font-family: var(--second-font);
  font-weight: bold;
}
