.containerBtn {
  background-color: var(--bg-pink);
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 8%;
  border-style: outset;
  border: 3px solid silver;
  box-shadow: 1px 1px 3px #000000;
}
.containerBtn:hover {
  background-color: var(--bg-lightPink);
}
.containerBtn:active {
  border-style: inset;
  box-shadow: 1px 1px 3px red;
}

.nameBtn {
  color: var(--color-font);
  font-family: var(--second-font);
  font-weight: bold;
}
