@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap");

.mainContainer {
  font-family: "Shantell Sans", cursive;
  font-size: auto;
  background-color: #da16b6;
  height: 60px;
  width: 120px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  padding: 0.5em;
  border: 5px solid silver;
  border-style: outset;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #000000;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.numberContainer {
  background-color: #cccccc;
  font-size: xx-large;
  width: 60%;
  height: 90%;
  justify-content: center;
  align-items: center;
  border: 2px solid silver;
  border-style: outset;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #000000;
}

.keyboardNumber {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.btnOperator {
  background-color: #cccccc;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border-style: outset;
  border: 3px solid silver;
  box-shadow: 1px 1px 3px #000000;

  &:hover {
    background-color: #f598e4;
  }
  &:active {
    border-style: inset;
    box-shadow: 1px 1px 3px red;
  }
}
