
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');


.titleContainer{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	box-sizing: content-box;
	height: 10vh;
	width: auto;
	border-radius: 30px;
	border: 10px solid silver;
	border-style: inset;
	background-color: rgb(159, 201, 111);
}

.titlePokemon {
	font-family: 'Shantell Sans', cursive;
	color: #494e08;
	font-size: 3em;
}

@media only screen and (max-width: 660px) {
	.titlePokemon{
		font-size: 2em;
	}
}

@media only screen and (max-width: 200px){
	.titlePokemon{
		font-size: 1em;
	}
}