@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap");

.mainCard {
  background-color: yellow;
  font-family: "Shantell Sans", cursive;
  color: #0f0b9d;
  border: 5px solid silver;
  border-style: outset;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #000000;

  background-image: url("../componets/pokeapi.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &:hover {
    box-shadow: 3px 3px 5px yellow;
  }
  &:active {
    border-style: inset;
    box-shadow: 3px 3px 5px red;
  }
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.card.selected {
  background-image: url("../componets/azul.png");
}

.mainCard.selected {
  transform: scale(1.2);
  background-image: url("");
  pointer-events: none;
}
.mainCard.disabled {
  visibility: hidden;
  pointer-events: none;
}

.namePok {
  visibility: hidden;
}
.namePok.selected {
  visibility: visible;
}
.namePok.disabled {
  visibility: hidden;
}

.card.selected {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  visibility: visible;
}

.imgPok {
  width: 20vh;
  height: 20vh;
  visibility: hidden;
}
.imgPok.selected {
  visibility: visible;
}
.imgPok.disabled {
  visibility: hidden;
}
