.cardContainer{
	display: grid;
	box-sizing: content-box;
	padding: 30px;
	border-radius: 30px;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	background-color: aqua;
	border: 10px solid silver;
border-style: inset;
}



