/* html{
    scroll-behavior: smooth;
} */

.container{
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 16px;
    max-width: 176px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.card{
    background-color: blue;
    min-width: 200px;
    min-height: 200px;
    color: white;
}