/* style from MainHeader */
.titleMainHeader {
  font-family: "Darumadrop One", cursive;
  font-size: 8vw;
  -webkit-text-stroke: 0.2vw #308208;
  /* para poner borde al texto */
  color: transparent;
  background-image: linear-gradient(
    to left,
    #9df076,
    #43991a,
    #b4b149,
    #f4ed11
  );
  background-clip: text;
  animation: color 3s linear infinite;
  background-size: 500%;
}

/* header layout */
.titleContainer {
  justify-items: center;
  align-items: center;
  box-sizing: content-box;
  margin-top: 4vw;
  .titlePokemon {
    font-family: "Shantell Sans", cursive;
    color: #494e08;
    font-size: 3vw;
  }
}

@keyframes color {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

@media (max-width: 550px) {
  .titleMainHeader {
    font-size: 20vw;
    -webkit-text-stroke: 0.1vh #308208;
  }
}
