@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Shantell+Sans:wght@500&display=swap');



.titleContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	box-sizing: content-box;
	height: auto;
	width: auto;
	border-radius: 30px;
	border: 10px solid silver;
	border-style: inset;
	background-color: rgb(159, 201, 111);
}

.titlePokemon {
	font-family: 'Shantell Sans', cursive;
	color: #494e08;
	font-size: 3em;
}

.subTitle {
	font-family: 'Shantell Sans', cursive;
	color: #494e08;
	font-size: 1.4em;
}

.titleMainHeader{
	font-family: 'Darumadrop One', cursive;
	font-size: 12em;
}

@media only screen and (max-width: 660px) {
	.titlePokemon{
		font-size: 2em;
	}
	.subTitle{
		font-size: 1em;
	}
}

@media only screen and (max-width: 200px){
	.titlePokemon{
		font-size: 1em;
	}
	.subTitle{
		font-size: 0.6em;
	}
}