@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap");

.mainCard {
  font-family: "Shantell Sans", cursive;
  color: #0f0b9d;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 30vh;
  padding: 1em;
  border: 5px solid silver;
  border-style: outset;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #000000;

  &:hover {
    box-shadow: 3px 3px 5px yellow;
  }
  &:active {
    border-style: inset;
    box-shadow: 3px 3px 5px red;
  }
}

.imgPokemon {
  width: 20vh;
  height: 20vh;
}

#normal {
  background: #a8a878;
}
#fire {
  background: #f08030;
}
#fighting {
  background: #c03028;
}
#water {
  background: #6890f0;
}
#flying {
  background: #a890f0;
}
#grass {
  background: #78c850;
}
#poison {
  background: #a040a0;
}
#electric {
  background: #f8d546;
}
#ground {
  background: #e0c068;
}
#psychic {
  background: #f85888;
}
#rock {
  background: #b8a038;
}
#ice {
  background: #98d8d8;
}
#bug {
  background: #a8b820;
}
#dragon {
  background: #7038f8;
}
#ghost {
  background: #705898;
}
#dark {
  background: #705848;
}
#steel {
  background: #b8b8d0;
}
#fairy {
  background: #ee99ac;
}
