
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');


.titleContainer{
	display: flex;
	text-align: center;
	justify-content: center;
	box-sizing: content-box;
	height: auto;
	border-radius: 30px;
	border: 10px solid silver;
	border-style: inset;
	background-color: rgb(159, 201, 111);
}

.titlePokemon {
	font-family: 'Nabla', cursive;
	font-size: 3em;
}