.mainContainerKeyboards {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.keyboards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.contBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 2vw;
}

.prueba {
  background-color: red;
}

/* ------ */
.keyboardFind {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
}

@media (max-width: 500px) {
  .keyboardFind {
    grid-template-columns: repeat(2, 1fr);
  }
}
