/* ------------ */
.mainCard {
  width: 7vw;
  height: 10vw;
  background-color: yellow;
  font-family: "Shantell Sans", cursive;
  border: 0.5vw solid silver;
  border-style: outset;
  border-radius: 20px;
  box-shadow: 0.3vw 0.3vw 3vw #000000;
  margin-top: 1.5vh;
  &.ground {
    background-color: var(--type-ground);
  }
  &.bug {
    background-color: var(--type-bug);
  }
  &.dark {
    background-color: var(--type-dark);
  }
  &.electric {
    background-color: var(--type-dark);
  }
  &.fairy {
    background-color: var(--type-fairy);
  }
  &.fighting {
    background-color: var(--type-fighting);
  }
  &.water {
    background-color: var(--type-water);
  }
  &.ice {
    background-color: var(--type-ice);
  }
  &.grass {
    background-color: var(--type-grass);
  }
  &.psychic {
    background-color: var(--type-psychic);
  }
  &.ghost {
    background-color: var(--type-ghost);
  }
  &.rock {
    background-color: var(--type-rock);
  }
  &.fire {
    background-color: var(--type-fire);
  }
  .steel {
    background-color: var(--type-steel);
  }
  &:hover {
    box-shadow: 0.3vw 0.3vw 3vw yellow;
  }
  &:active {
    border-style: inset;
    box-shadow: 0.3vw 0.3vw 3vw red;
  }
  &.Find {
    background-image: url("../../../pokeapi.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  &.selected {
    transform: scale(1.2);
    background-image: none;
    pointer-events: none;
  }
  &.disabled {
    visibility: hidden;
    pointer-events: none;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.selected {
    visibility: visible;
  }
  .namePok {
    font-family: "Shantell Sans";
    font-size: 1vw;
    font-weight: lighter;
    color: var(--color-font);
    visibility: hidden;
    &.nameWhat {
      visibility: visible;
    }
    &.selected {
      visibility: visible;
    }
    &.disabled {
      visibility: hidden;
    }
  }
  .imgPok {
    width: 7vw;
    height: 7vw;
    visibility: hidden;
    &.imgWhat {
      visibility: visible;
    }
    &.selected {
      visibility: visible;
    }
    &.disabled {
      visibility: hidden;
    }
  }
}

@media (max-width: 400px) {
  .mainCard {
    width: 25vw;
    height: 20vh;
  }
  /*   .imgPok {
    width: 20vw;
    height: 15vh;
  } */
}
