body{
	display: flex;
	text-align: center;
	justify-content: center;
	background-color: rgb(107, 189, 155);
}

.mainContainer {
	display: flex;
/* 	width: 80%; */
	flex-direction: column;
	gap: 10px;
	justify-content: center;
}