body {
  background-color: #abf3b4;
}

.app {
  background-color: #0cdf28;
  width: 650px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

@media (max-width: 650px) {
  .app {
    width: 400px;
  }
}
