@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Shantell+Sans:wght@500&display=swap");

:root {
  --bg-green: #13db37;
  --bg-lightGreen: #94dfa1;
  --bg-lightGreenBlue: #6ebcab;
  --bg-yellow: #dcf26b;
  --bg-pink: #fc82fe;
  --bg-lightPink: #e8b7df;
  --color-font: #300fef;
  --main-font: "Duramadrop One";
  --second-font: "Shantell Sans";
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

body {
  background-color: var(--bg-lightGreen);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Este es el estilo de App */
.mainCont {
  background-color: var(--bg-green);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5vh;
}

/* Este es el estilo de HomePage */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 3vw;
}

.pokeapi {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 20vw;
}

@media (max-width: 800px) {
  body {
    background-color: var(--bg-green);
  }
  .board {
    display: flex;
    flex-direction: column;
  }
}
